/* https://codepen.io/ to get some cool Front end stuff! */

.techFont{
  font-family: 'Mukta', sans-serif;
  font-size:1.5em;
  margin-bottom: 10px;
}

.bigBrand{
  font-size:1.5em;
}
.centerstage{
  margin-left: auto;
  margin-right: auto;
}
