{% extends 'blogapp/base.html' %}
{% block content %}
  <h1>{{post.title}}</h1>
  {% if post.published_date %}
  <!-- if there is a post date, inject the published date -->
    <div class="date postdate">
      {{post.published_date}}
    </div>
  {%else%}
  <!-- if not published, give option to publish -->
  <a class btn btn-default href="{%url 'blogapp:post_publish' pk=post.pk%}">Publish</a>
  {%endif%}
  <!-- now using the medium editor  -->
  <p class='postcontent'>{{post.text|safe|linebreaksbr}}</p>

  {%if user.is_authenticated%}
  <!-- if the user is authenicated we have two buttons to edit or remove the post -->
  <a class='btn btn-primary'href="{%url 'blogapp:post_edit' pk=post.pk%}">
    Edit
  </a>
  <a class= 'btn btn-danger' href="{% url 'blogapp:post_delete' pk=post.pk %}">
    Remove
  </a>
  {%endif%}

  <!-- now give a user an option to write a comment to the post -->
  <hr>
  <a class="btn btn-primary btn-comment" href="{%url 'blogapp:add_comment_to_post' pk=post.pk%}">comment</a>
  <div class="container">
    {%for comment in post.comments.all %}
      <br>
      <!-- check if the comment is approve or if the user is authenitcated -->
      {% if user.is_authenticated or comment.comment_approve %}
        <!--show the comment date created  -->
        {{comment.created_date}}

        <!-- if not approved comment -->
        {% if not comment.comment_approve %}
        <!-- give option to approve or delete comment -->
        <a class='btn btn-primary'href="{%url 'blogapp:comment_approve' pk=comment.pk%}">
          Approve
        </a>
        <a class= 'btn btn-default' href="{%url 'blogapp:comment_remove' pk=comment.pk%}">
          Delete
        </a>

        {% endif %}
        <!-- show the text of the comment -->
        <p>{{comment.text|safe|linebreaks}}</p>
        <!-- show the auther of the comment -->
        <p>Posted by:<strong> {{comment.author}}</strong></p>
      {%endif%}
      <!-- if the check for comment returns null we use a tempalate tag to check if it empty-->
    {%empty%}
        <p>No Comments</p>
    {% endfor %}

  </div>
{% endblock %}
